html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-numbers {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
}

button, #calc, #clear {
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover, #clear:hover {
    background-color: #f0f0f0;
}

#calc, #clear {
    font-size: 20px;
}

#clear {
    background-color: #ff6347;
    color: #fff;
    border: none;
}

#clear:hover {
    background-color: #d84315;
}
